<!DOCTYPE html>
<html>
<head>
    <title>di</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" media="screen" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{url_for('index')}}">Di</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            {% if g.user %}
              <li><a href="{{url_for('view_user', username=g.user.username)}}">Welcome, {{g.user.username}}</a></li>
              <li><a href="{{url_for('create_thread')}}">Create Thread</a></li>
              <li><a href="{{url_for('list_marked')}}">Marks</a></li>
              <li><a id="notification" href="{{url_for('list_notification')}}">Notification</a></li>
              <li><a href="{{url_for('user_setting')}}">Setting</a></li>
              <li><a href="{{url_for('signout')}}">Sign out</a></li>
            {% else %}
              <li><a href="{{url_for('signin')}}">Sign in</a></li>
              <li><a href="{{url_for('signup')}}">Sign up</a></li>
            {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="wrap">
      <div class="container">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-success">
          {{msg}}
        </div>
        {% endfor %}
      {% block body %}{% endblock %}
      </div>
    </div>
    <script src="{{url_for('static', filename='js/jquery-1.9.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/test.js')}}"></script>
</body>
</html>