{% extends "layout.html" %}
{% block content %}
{% if error %}
<div class="error">{{error}}</div>
{% endif %}
<form action="/signup" method="post" class="form-horizontal">
  <fieldset>
    <legend>Sign Up</legend>
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        <input type="text" name="username" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Email</label>
      <div class="controls">
        <input type="text" name="email" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        <input type="password" name="password" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password(Repeat)</label>
      <div class="controls">
        <input type="password" name="password2" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign Up</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}